{% extends "base.html" %}

{% block content %}

<div class="card">

    <h2>Forgot Password</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}

    <div style="
      background:#e8ffe8;
      padding:12px;
      margin-bottom:15px;
      border-radius:5px;
    ">
      {{ message }}
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="POST">

        <input
            type="hidden"
            name="_csrf_token"
            value="{{ csrf_token() }}"
        >

        <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required
        >

        <br><br>

        <button type="submit">
            Send Reset Link
        </button>

    </form>

</div>

{% endblock %}